body {
	background-color: #eee;
	font-size: 20px;
	
}
header {
	margin:0px 0px 0px 0px;
	
}
#fundo-img{
	background-attachment: fixed;
	background-size: 100%;
	background-repeat: no-repeat;
	
}
.header-icon:hover {
	filter: invert(55%);
}
h1 {
	font-family: 'Prompt', sans-serif;;
}
.row {
	background-color:  #eee;
}
#topo {
	margin:0px 0px 0px 0px;
	height: 35px;
	background-color: #000000;
}
#title {
	margin: 0px 0px 0px 0px;
	background-color: #108ecc;
}
.face {
	width: 30px;
	height: 30px;
}

.direita {
	margin-top: 20px;
	border: 3px solid #fff;
			
}
.navbar {
	font-size: 18px;
			
}

#menu-up {
	color: #FF6347;

}
#menu-up:hover {
	color: #B22222;
}

#title-my {
	color:#FF7F50;
}

.icon-img {
	width: 30px;
	height: 30px;
	
}
.icon-name {
	padding: 0px 5px 0px 5px;
	font-size: 25px;
	color: burlywood;

}
.icon-name:hover {
	text-decoration: underline;
}
#contato{
	background-size: 100%;
	background-repeat: no-repeat;
	
}
#sendPost {
	display: flex;
    flex-direction: column;
    align-items: center;
	backdrop-filter: blur(5px);
}
#sendPost .form-group{
	width: 500px;
}
#city{
	background-size: 100%;
	background-repeat: no-repeat;
}

#form-radar{
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}

#form-radar input[type=email]{
	width: 350px;
	margin:5px;	
}

#login{
	display:flex;
	flex-direction: column;
	align-items: center;
}
#login .form-group{
	width: 350px;
}
#userConfig .form-group{
	display: flex;
	flex-direction: row;
	
}
#userConfig .form-group input, select{
	margin-right: 15px;
}
.table {
	box-shadow: 0 0 10px #000;
}
footer {
	margin-top: auto;
	padding:10px;
	font-size: 15px;
	border: 1px solid #eee;
	background-color: #ccc;
}

		