body {
	background-color: #eee;
	font-size: 20px;
}
header {
	margin:0px 0px 0px 0px;
	
}

.header-icon:hover {
	filter: invert(55%);
}

h1 {
	font-family: 'Playfair Display', serif;
}
.row {
	background-color:  #eee;
}
#topo {
	margin:0px 0px 0px 0px;
	height: 35px;
	background-color: #000000;
}
#title {
	margin: 0px 0px 0px 0px;
	background-color: #108ecc;
}
.face {
	width: 30px;
	height: 30px;
}
.logo {
	height: 200px;
}
.direita {
	margin-top: 20px;
	border: 3px solid #fff;
			
}
.navbar {
	font-size: 18px;
			
}
.icon-img {
	width: 30px;
	height: 30px;
	
}
.icon-name {
	padding: 0px 5px 0px 5px;
	font-size: 25px;
	color: burlywood;

}
.icon-name:hover {
	text-decoration: underline;
}
footer {
	margin-top: auto;
	padding:10px;
	font-size: 15px;
	border: 1px solid #eee;
	background-color: #ccc;
}

		